@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#afaca3;
}

/* ===========================
        NAVBAR
=========================== */

nav{
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height: 10%;
    background:rgba(255,255,255,.8);
    backdrop-filter:blur(18px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 7%;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    z-index:1000;
}

nav h2{
    color:#333;;
    font-size:28px;
    font-weight: 700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav ul li{
    color:#333;;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
      padding: 6px 0;
}

nav ul li:hover{
    color:#b8860b;;
}

/* ===========================
        ALL SECTIONS
=========================== */

section{
    min-height:auto;
    padding:100px 10%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

section h1{
    font-size:16px;
    color:black;
    margin-bottom:20px;
}

section h2{
    color:#070707;
    margin-bottom:25px;
    font-size: 40px;
}

section p{
    color:black;
    line-height:1.8;
    text-align:center;
    max-width:800px;
}

/* ===========================
        HOME
=========================== */

#Home{
      min-height:100vh;   
    padding:100px 10% 50px;
    text-align:center;
   
}
.home-content{
    max-width:750px;

    background:rgba(255,255,255,.45);

    backdrop-filter:blur(18px);

    border-radius:30px;

    padding:50px;

    box-shadow:0 15px 40px rgba(0,0,0,.12);

    border:1px solid rgba(255,255,255,.4);
}

.profile-img{
    width:280px;
    height:280px;
    border-radius:50%;
    border:6px solid rgba(255,255,255,.9);
    object-fit:cover;
      margin-top: 35px;  
    margin-bottom:25px;
    
    padding: 8px;
      background:linear-gradient(135deg,#d4af37,#f4d03f);
        box-shadow:
       0 10px 25px rgba(212,175,55,.45);

    transition:.4s ease;
}
.profile-img:hover{
    transform:scale(1.05);
    box-shadow:
        0 0 25px #f0f2f6,
        0 0 50px #8b5cf6,
        0 20px 50px rgba(0,0,0,.6);
}

#Home button{
    background:linear-gradient(135deg,#b8860b,#d4af37);

color:white;

font-weight:600;

letter-spacing:.5px;
}

#Home button:hover{
      transform:translateY(-10px);
      transition:.35s;
    box-shadow:0 20px 40px rgba(0,0,0,.15);
    
}
#Home h1{
    color:#222;
    font-size:48px;
    font-weight:700;
}
#Home h1 span{
    color:black;
}
#Home p{
    font-size:20px;
    color:#555;
    line-height:1.9;
}

/* ===========================
        ABOUT
=========================== */

.about-info{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    color: #333;
    margin-top:40px;
    width:100%;
    font-size: 16px;
}

.about-box{
    max-width:900px;
    background: rgba(229, 229, 235, 0.75);
    backdrop-filter: blur(15px);
    border:1px solid rgba(255, 7, 7, 0.18);
    border-radius:20px;
    padding:35px;
    margin:30px auto;
    box-shadow:0 12px 30px rgba(0,0,0,.35);
}

.about-box p{
    margin-bottom:18px;
    color:rgb(56, 48, 48);
    font-size:20px;
    line-height:1.9;
    text-align:center;
}

.about-box p:last-child{
    margin-bottom:0;
}
.about-info div{
    background:rgba(212, 204, 204, 0.15);
    backdrop-filter:blur(10px);
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
    transition:.3s;
    font-size: 16px;
}

.about-info div:hover{
    transform:translateY(-10px);
   
}

.about-info h3{
    color:rgb(13, 10, 10);
    margin-bottom:10px;
}

.about-info p{
    color: rgb(10, 10, 10);
    font-size: 20px;
}

/* ===========================
        SKILLS
=========================== */

.skills-container{
   width:100%;
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.skill-card{
      width:100%;
    max-width:900px;

    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    gap:50px;

    padding:45px;

    background:rgba(255,255,255,.45);
    backdrop-filter:blur(15px);

    border-radius:25px;
    border:1px solid rgba(255,255,255,.4);

    box-shadow:0 15px 35px rgba(0,0,0,.15);

    transition:.4s;
}


.skill-card:hover{
    transform:translateY(-8px);
      box-shadow:0 20px 45px rgba(0,0,0,.25);
}
.skill-group{
    text-align:center;
}
.skill-group h3{
    font-size:28px;
    color:#222;
    margin-bottom:20px;
}


.skill-card p{
     font-size:20px;
    color:#333;
    margin:12px 0;
}

/* ===========================
      EXPERIENCE
=========================== */

.experience-card{
    width:100%;
    max-width:850px;
    background:rgba(18,18,45,.85);
    backdrop-filter:blur(18px);
    border-radius:25px;
    border: 1px solid rgba(255,255,255,.15);;
    padding:40px;
    text-align:left;
    box-shadow:0 50px 40px rgba(0,0,0,.35);
    font-size: 30px;
    margin: 40px auto;

    transition:.4s;
}

.experience-card h2{
    color:black;
    font-size: 38px;
    margin-bottom: 10px;
    text-align: center;
}

.experience-card h3{
    color:black;
    margin-bottom:15px;
    font-size: 28px;
    text-align: center;
}

.experience-card h4{
    color:#c7c9cd;
    text-align:center;
    font-size:22px;
    margin-bottom:25px;
}

.experience-card ul{
    list-style:none;
     padding:0;
    margin-top:20px;
}

.experience-card li{
    color:black;
    margin:18px 0;
    font-size: 20px;
    position: relative;
}
.experience-card:hover{
    transform:translateY(-8px);
    box-shadow:0 25px 55px rgba(0,0,0,.45);
}
.experience-card::before{
    content:"";
    display:block;
    width:100%;
    height:6px;
    background:linear-gradient(135deg,#b8860b,#d4af37);
    border-radius:20px;
    margin-bottom:25px;
}



/* ===========================
        PROJECTS
=========================== */

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    width:100%;
    font-size: large;
}

.project-card{
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:30px;
    text-align:center;
    transition:.3s;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card h2{
    color:black;
    font-size:30px;
}

.project-card p{
    color:black;
    font-size: 22px;
}

/* ===========================
        CONTACT
=========================== */

form{
    width:100%;
    max-width:700px;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:30px;
}

form input,
form textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
    text-align: center;
    background-color: rgb(222, 214, 214);
    
}

form textarea{
    resize:none;
}

form button{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#d4af37;

    cursor:pointer;
    transition:.3s;
}

form button:hover{
    background:#d4af37;
}

.contact-info{
    text-align:center;
}

.contact-info p{
    margin:10px 0;
}


/* ===========================
        FOOTER
=========================== */

footer{
    background:white;

color:black;

border-top:1px solid #ddd;
}

/* ===========================
        RESPONSIVE
=========================== */

@media(max-width:768px){

nav{
    flex-direction:column;
    padding:20px;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
    margin-top:15px;
    gap:15px;
}

.about-info{
    grid-template-columns:1fr;
}

.skills-container,
.project-container{
    grid-template-columns:1fr;
}

.profile-img{
    width:180px;
    height:180px;
}

section h1{
    font-size:34px;
}

section{
    padding:100px 20px;
}

}


.portfolio-page{
    background: url("https://img.magnific.com/premium-photo/close-up-gold-feathers-background-created-with-generative-ai-technology_1020121-659.jpg?semt=ais_hybrid&w=740&q=80");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    animation:bgMove 20s ease-in-out infinite alternate;
}
@keyframes bgMove{
 from {
        background-position:center bottom;
    }

  top{
        background-position:center top;
    }
}


.about-info div,
.skill-card,
.project-card,
.experience-card,
.contact-info,
form{
     
background:rgba(255,255,255,.45);

backdrop-filter:blur(15px);

border-radius:22px;

border:1px solid rgba(255,255,255,.4);

box-shadow:0 12px 30px rgba(0,0,0,.1);
}

section:not(#Home){
    min-height:auto;
    padding:60px 10%;
}
.about-info div:hover,
.skill-card:hover,
.project-card:hover,
.experience-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 18px 40px rgba(0,0,0,.45);
    border-color: #7c3aed;
}