@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}


/* =======================
      LOGIN SECTION
======================= */

.login-container{
       min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    

    background:#afaca3;
}

/* =======================
        LOGIN CARD
======================= */

.login-card{
    width:400px;
    background:#c6c2b4;
    border:1px solid #efe5c8;
    border-radius:10px;
    padding:50px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.4s;
}

.login-card:hover{
    transform:translateY(-8px);
    box-shadow:0 25px 60px rgba(0,0,0,.12);
}

/* =======================
        HEADING
======================= */

.login-card h2{
    text-align:center;
    font-size:32px;
    color:#222;
    margin-bottom:70px;
    position:relative;
}

.login-card h2::after{
    content:"";
    display:block;
    width:70px;
    height:4px;
    background:white;
    margin:10px auto 0;
    border-radius:20px;
}

/* =======================
        LABELS
======================= */

.login-card label{
    display:block;
    margin: 15px 0 8px;
    font-size:16px;
    font-weight:500;
    color:#222;
}

/* =======================
        INPUTS
======================= */

.login-card input{
    width:100%;
    padding:20px;
    background:#e7e4df;
    border:2px solid #e6d5a8;
    border-radius:12px;
    outline:none;
    font-size:16px;
    color:#222;
    transition:.3s;
}

.login-card input::placeholder{
    color:black;
}

.login-card input:focus{
    border-color:#000;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

/* =======================
        BUTTON
======================= */

.login-card button{
    width:90%;
    margin-top:25px;
    padding:14px;
    background:black;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.login-card button:hover{
    transform:scale(1.05);
    background: #000;
}

/* =======================
      RESPONSIVE
======================= */

@media(max-width:480px){

    .login-card{
        width:100%;
        padding:30px 25px;
    }

    .login-card h2{
        font-size:28px;
    }

}